
.side-menu {
    margin: 25px;
    border: solid 5px teal;
}

button {
    border: none;
    cursor: pointer;
    background-color: purple;
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ;
}

.side-menu button:hover {
    background-color: rgb(88, 0, 88);
}


